body{
    background-color: rgb(221, 48, 77);
}

.outer{
    height: 500px;
    width: 500px;
    text-align: center;
    background-color: rgb(238, 211, 56);
    margin:auto;
    margin-top: 3%;
  
    border: 3px solid black;
}
.imgSec img{
    height: 400px;
    width:400px;
    margin-top: 30px;
    border-radius: 70%;
    border:4px solid rgb(20, 20, 85);
}
.paraSec
{
    text-align: center;
    padding-left: 20px;

}
