body{
    background-color: rgb(202, 247, 99);
}
.navbar{
    background-color: rgb(115, 115, 243);
    padding:20px;
    
}
*{
    margin:0px;
    padding: 0px;
    
}
.navbar li{
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    
}

.navbar li a{
    color: white;
   padding: 20px;
}

.navbar li a:hover{
   
   background-color: white;
  
    color:blue  !important;
}


.googlefont{
    text-align: center;
}
.imgSec img{
    height: 50%;
    width: 50%;
}


h1{
    
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
}